<div class="objective-details">
  <div class="head-title">
    <div class="text-left">
      <h3>Conocer mi sobrino</h3>
      <p>Categoría: Bienestar</p>
    </div>
    <a href="#" class="button">Revisar objetivo</a>
  </div>

  <div class="info-progress">
    <div class="info">
      <p>En esta fecha:</p>
      <div>Diciembre/2022</div>
    </div>
    <div class="info">
      <p>Lograrás:</p>
      <div>$6.000.000</div>
    </div>
    <div class="info">
      <p>Ya cuentas:</p>
      <div>$0</div>
    </div>
  </div>
  <div class="footer">
    <img src="../../../../../../assets/images/Icon-awesome-check-circle.svg" alt="">
    <a href="">¡Asocia productos para monitorear su progreso!</a>
  </div>
  <div class="img-footer">
    <img src="../../../../../../assets/images/Mask-Group-19.png" alt="">
  </div>


  <!-- <div class="progress-bar">
    <div class="progress-value"></div>
  </div>
  <div class="progress-info">
    <p>En esta fecha: Diciembre/2022</p>
    <p>Lograrás: $6.000.000</p>
    <p>Ya cuentas con: $0</p>
  </div>
  <div class="footer">
    <p>¡Asocia productos para monitorear su progreso!</p>
    <img src="flag.svg" alt="Bandera">
  </div> -->
</div>
